## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Output/*
Projects/*/Temp/*

#Visual Studio files
*.user
*.suo
*.sdf
*.opensdf
*.pdb
*.props
*.db